<!-- website header begins here -->

<header class="header_container">
  <div
    class="d-flex justify-content-between align-items-center bg-light px-2 py-2"
  >
    <div class="logo">
      <img src="assets/images/logo.png" width="200px" alt="" />
    </div>

    <nav>
      <ul class="nav">
        <li class="nav_item me-3" *ngFor="let nav of Nav">
          <a class="text-dark nav-link text-decoration-none" href="">{{
            nav.name
          }}</a>
        </li>
      </ul>
    </nav>
    <button class="button py-2 px-2">RESERVE</button>
  </div>
</header>

<!-- Hero Section Beings here -->
<section class="hero_section mb-4">
  <div class="img position-relative">
    <img src="assets/images/column2.png" alt="" />
  </div>

  <div class="centered-text">
    <h2 class="display-4">{{ content.boldText }}</h2>
    <p>{{ content.text1 }}</p>
    <p>{{ content.text2 }}</p>
    <p>{{ content.text3 }}</p>
    <p>{{ content.text4 }}</p>
    <p>{{ content.text5 }}</p>
    <p>{{ content.text6 }}</p>
  </div>
</section>
<br />
<br />

<!-- About Section begins here -->

<section
  class="About d-flex justify-content-around me-3 mb-5 mt-3 text-align-center align-items-center px-5"
>
  <div class="text_content px-4 lh-lg">
    <h1
      class="text-dark border-bottom border-dark border-2"
      style="width: 13rem"
    >
      {{ content2.text0 }}
    </h1>
    <h3 class="bold mb-4">{{ content2.text7 }}</h3>
    <p>{{ content2.text8 }}</p>
    <p>{{ content2.text9 }}</p>
    <p>{{ content2.text10 }}</p>
    <button class="button py-2 px-2 mt-3">READ MORE</button>
  </div>

  <div>
    <img src="assets/images/rightImage.png" height="500px" alt="" />
  </div>
</section>

<!-- Carousel section -->
<section class="carousel_container mt-3 mb-4">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide
      ><img src="assets/images/img1.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/img2.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/img3.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/img4.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/img5.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/img6.png" class="slider" alt=""
    /></ng-template>
  </owl-carousel-o>
</section>

<!-- Card section begins here  -->
<section class="card_container mt-5">
  <div class="d-flex flex-row justify-content-around align-items-center px-5">
    <div class="card me-3" style="width: 35rem" *ngFor="let card of cardData">
      <img
        [src]="card.imgSrc"
        class="px-2 py-2"
        width="300px"
        height="200px"
        alt=""
      />

      <p class="px-4">
        {{ card.text }}
      </p>
      <button class="button px-2 mb-4 mt-4">BOOK NOW</button>
    </div>
  </div>
</section>

<!-- The footer begins here -->
<footer class="footer d-flex justify-content-around align-items-center">
  <div class="text-light lh-lg">
    <img src="assets/images/logo.png" width="120px" alt="" />
    <p>Powered By TechBound</p>
    <p>Developed By Tiana</p>
  </div>

  <ul>
    <li *ngFor="let link of links" class="list-unstyled">
      <a class="text-decoration-none text-light" [href]="link.url">{{
        link.name
      }}</a>
    </li>
  </ul>

  <div class="social_links">
    <a *ngFor="let link of socialLinks" [href]="link.url" class="text-white">
      <i [class]="link.iconClass + ' me-3'"></i>
    </a>
  </div>
</footer>

<router-outlet />
